# === Core ASR (CPU) ===
faster-whisper==1.0.3
ctranslate2>=4.4,<5   # engine của faster-whisper
# openai-whisper
# === FastAPI server ===
fastapi
uvicorn[standard]
anyio
python-multipart

# === Audio processing ===
pydub
soundfile
ffmpeg-python

# === Utils ===
requests
phonemizer
