fastapi
uvicorn[standard]
httpx>=0.27        # gọi dịch vụ con, async
python-dotenv      # load .env
python-multipart


numpy>=1.24,<2.1
numba<0.60
scipy>=1.11,<1.14
librosa==0.10.2.post1
matplotlib>=3.8
Cython>=0.29.36
soundfile>=0.12
edge-tts
aiofiles
soundfile
pydub